<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Application"><directory>tests/Feature</directory></testsuite>
        <testsuite name="Identity"><directory>Modules/Identity/Tests</directory></testsuite>
    </testsuites>
    <source><include><directory>Modules/Identity/Models</directory></include></source>
    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_DATABASE" value="__F7T_APP_NAME___test"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="REDIS_DB" value="13"/>
        <env name="REDIS_CACHE_DB" value="14"/>
        <env name="REDIS_SESSION_DB" value="15"/>
        <env name="NIGHTWATCH_ENABLED" value="false" force="true"/>
    </php>
</phpunit>
