APP_NAME=__F7T_APP_NAME__
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://__F7T_APP_NAME__.test
FUNNYSOFT_REGISTRATION_ENABLED=false

DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=__F7T_APP_NAME__
DB_USERNAME=postgres
DB_PASSWORD=

REDIS_HOST=127.0.0.1
REDIS_PORT=6138
REDIS_DB=0
REDIS_CACHE_DB=1
REDIS_SESSION_DB=2
REDIS_PREFIX=__F7T_APP_NAME__:
CACHE_STORE=redis
SESSION_DRIVER=redis
SESSION_SECURE_COOKIE=true
QUEUE_CONNECTION=redis
REDIS_QUEUE=__F7T_APP_NAME__
HORIZON_PREFIX=__F7T_APP_NAME__:horizon:

MAIL_MAILER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=__F7T_APP_NAME__
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=hello@example.test
NIGHTWATCH_ENABLED=false
NIGHTWATCH_TOKEN=
RESEND_API_KEY=
VITE_POSTHOG_ENABLED=false
VITE_POSTHOG_KEY=
VITE_POSTHOG_HOST=https://eu.i.posthog.com
TURNSTILE_SITE_KEY=1x00000000000000000000AA
TURNSTILE_ENABLED=false
VITE_TURNSTILE_ENABLED="${TURNSTILE_ENABLED}"
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA
VITE_TURNSTILE_SITE_KEY=1x00000000000000000000AA
