<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Application"><directory>tests</directory></testsuite>
    </testsuites>
    <source><include><directory>app</directory></include></source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_DATABASE" value="__F7T_APP_NAME___test"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="NIGHTWATCH_ENABLED" value="false"/>
    </php>
</phpunit>
